.search-content {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 220px));
  grid-template-rows: auto;
  gap: 20px 15px;
  align-self: center;
  justify-content: center;
  margin-top: 40px;
}
