:root {
  --main-color-1: #ffffff;
  --main-color-2-default: #d9dfe7;
  --main-color-3: #171f29;

  --accent-color-1-default: #375d7c;
  --accent-color-1-shadow-1: #feffb5;

  --status-color-error: #b3261e;
}
